.github
.vscode
e2e
/nbproject/

/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
/bootstrap/cache
/bootstrap/ssr

# Laravel 5 & Lumen specific

/boostrap/cache/
/boostrap/ssr/
/public/build/

/vendor/
/node_modules/