.github
.vscode
e2e
npm-debug.log
.env.production
.env.dev
.env.production
access_token.txt
jsconfig.jsconfig
package.json
package-lock.json
phpunit.xml
postcss.config.sjc
README.node_modules
rebel.xml
tailwind.config.js
TODO.md
vite.config.js
vulco-dev.kdev4

/resources/img
/resources/css
/resources/js
/resources/markdown
/src/
/public/hot
/public/vendor
/nbproject/
/vendor/
/node_modules/