.github
e2e

node_modules/
vendor/

public/
bootstrap/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/clockwork/* 
storage/logs/*

# stryker temp files
.stryker-tmp
*.deb
bootstrap/ssr/ssr-manifest.json
bootstrap/ssr/ssr.js
database/database.db
public/build/manifest.json
